@model Labb1WOMU.Models.Artikel

@{
    ViewBag.Title = "Details";
}

<h2>Detaljer</h2>

    <h4>Artikel:</h4>
    <hr />
    <table class="td-limit">
        <tr>
            <td style="font-weight:bold">
                @Html.DisplayNameFor(model => model.ArtikelNamn)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.ArtikelNamn)
            </td>
        </tr>
        <tr>
            <td style="font-weight:bold">
                @Html.DisplayNameFor(model => model.Beskrivning)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Beskrivning)
            </td>
        </tr>
        <tr>
            <td style="font-weight:bold">
                @Html.DisplayNameFor(model => model.Antal)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Antal)
            </td>
        </tr>
        <tr>
            <td style="font-weight:bold">
                @Html.DisplayNameFor(model => model.Pris)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Pris)
            </td>
        </tr>
    </table>

<p>
    @Html.ActionLink("Tillbaka till produkter", "Index")
</p>
