@model IEnumerable<Labb1WOMU.Models.Artikel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtikelNamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beskrivning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Antal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pris)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aktuell)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArtikelNamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beskrivning)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Antal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pris)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aktuell)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArtikelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArtikelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArtikelID })
        </td>
    </tr>
}

</table>
