@model IEnumerable<Labb1WOMU.Models.Order>
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kund.Förnamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kund.Efternamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kund.Förnamn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kund.Efternamn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
           
        </tr>
    }
</table>
