@model Labb1WOMU.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<h2>Index</h2>


<h3>
    <em>Review</em> your cart:
</h3>
<p class="button">
    @Html.ActionLink("Checkout >> ", "Create", "Kund")
</p>
<div id="update-message">
</div>
<table>
    <tr>
        <th>
            Produkt namn:
        </th>
        <th>
            Pris/st:
        </th>
        <th>
            Antal:
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.CartID">
            <td>
                @Html.ActionLink(item.Artikel.ArtikelNamn, "Details", "Store", new { id = item.ArtikelID }, null)
            </td>
            <td>
                @item.Artikel.Pris
            </td>
            <td id="item-count-@item.CartID">
                @item.Count
            </td>
            <td>
                @Html.ActionLink("Remove from cart", "RemoveFromCart", "Cart", new { id = item.ArtikelID }, null)
                  
                
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td></td>
        <td></td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>
